.MuiBox-root {
    margin-bottom: 40px;
    overflow-y: auto;
}

.uploadContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.uploadOption {
    padding: 40px;
}

@media screen and (max-width: 600px) {
    .uploadOptionColumns {
        flex-direction: column;
    }
}