.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardListActions {
    max-width: 800px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    color: white;
    background-color: black;
    height: 40px;
    border-radius: 5%;
}

.button:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 800px) {
    .cardListActions {
        flex-shrink: 0;
        flex-direction: column;
    }  

    .printPageBreak {
        clear: both;
        page-break-before: always;
        page-break-after: always;
    }
}