.container{
    display: flex;
    width: 240px;
    flex-direction: column;
}

.card {
    width: 220px;
    height: 150px;
    overflow: auto;
    word-wrap: break-word;
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.answer {
    color: black;
}

.extraStyle {
    font-size: 12px;
}

.logoContainer {
    border: none;
    display: flex;
    vertical-align: center;
    justify-content: center;
    font-size: 11px;
    left: 0;
    bottom: 0;
}

.buttonContainer{
    width: 220px;
}


@media print { 
    .container{
        margin: 0;
        width: 45mm;
        height: 49mm;
    }
    .card {
        margin: 0;
        width: 45mm;
        height: 49mm;
        font-size: 16px;
        padding-right: 5px;
    }

    .question {
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari, Edge */
        color-adjust: exact !important;                 /*Firefox*/
        border: 1px solid white;
    }

    .logoContainer{
        font-size: 8px;
        border: none;
    }
}