.root {
    cursor: 'pointer';
    color: gray;
    font-weight: bold;
    height: 300px;
    width: 400px;
}

.root:hover {
    opacity: 0.3;
}

.noMouseEvent {
    border: 3px dashed gray;
    pointer-events: 'none';
}

.noMouseEvent:hover {
    border: 3px dashed rgb(176, 176, 176);
}

.uploadArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}