html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

.uploadOptionColumns {
  display: flex;
  flex-direction: row;
}

.uploadOption {
  height: 400px;
  width: 400px;
  border: 3px solid rgb(170, 170, 170);
  margin-right: 3px;
}